:markdown

  ## <span class="ss-icon">smile</span> My name is...
  ### Chapter 1

  [I am Charlie Gleason](http://charliegleason.com/ "Charlie Gleason"). I love design, development, photography, beer, riding a bicycle and rock climbing. I used to live in London, and I almost lived in Perth, but I grew up in Melbourne. I've been a lead developer and technical lead at a big traditional ad agency, and a senior designer at another, and now I'm a designer / developer at [Goodfilms](http://goodfil.ms), which is a rad social film site. I spend the rest of my time freelancing, listening to vinyls and playing in a band called [Brightly](http://wearebrightly.com/).

  **Also, I'm on twitter at [@superhighfives](http://twitter.com/superhighfives/ "@superhighfives"), if you're so inclined.**