:markdown

  ## <span class="ss-icon">laptop</span> Setting up an environment
  ### Chapter 6

  Now, setting up an environment. Let's go through some applications I can't live without. This is mostly aimed at OSX developers, but I'll try and throw in some Windows alternatives where I can. See, we can all be friends!

  #### HTML5 Boilerplate
  ##### [html5boilerplate.com](http://html5boilerplate.com)

  <a href='http://html5boilerplate.com/'>
    <figure>
      <img src='/images/im-html5boilerplate.jpg' title='HTML5 Boilerplater home page.' />
      <figcaption>
        <strong>Above:</strong>
        The HTML5 Boilerplater home page.
      </figcaption>
    </figure>
  </a>

  If you're working with straight HTML, the HTML5 boilerplate is a brilliant place to start. It's a bunch of HTML, CSS and JS, thoroughly commented and explained, that will help you to build wild web apps and sites. It features normalize.css, a CSS stylesheet that resets browsers - as, unfortunately, not all browsers are created equal. It features tip and tricks for making the best possible start on a site. It is fantastic. It was also originally started by Paul Irish, who is a superhero of the internet.

  #### Transmit
  ##### [panic.com/transmit](http://panic.com/transmit/)

  <a href='http://panic.com/transmit/'>
    <figure>
      <img src='/images/im-transmit.jpg' title='Panic Transmit home page.' />
      <figcaption>
        <strong>Above:</strong>
        The Panic Transmit home page.
      </figcaption>
    </figure>
  </a>

  There are lots of ways of getting files onto a server. There are more complicated methods, like using SSH, but if you're not super keen on the command line or version control you can always fall back to trusty Transmit on the Mac. There are also a host of FTP applications for Windows and Linux, too.

  #### MAMP
  ##### [mamp.info](http://mamp.info/)

  <a href='http://mamp.info/'>
    <figure>
      <img src='/images/im-mamp.jpg' title='MAMP home page.' />
      <figcaption>
        <strong>Above:</strong>
        The MAMP home page.
      </figcaption>
    </figure>
  </a>

  If you're looking to learn PHP, you'll need to run a server locally. Let's say you want to start off with a Wordpress installation. MAMP (for Mac, or WAMP for Windows) will help you get started. It is true that OSX comes with an Apache server built in, but if you're starting out it'll save you a bunch of terror to start with MAMP and work your way up. MAMP makes local development super speedy.

  #### Sequel Pro
  ##### [sequelpro.com](http://sequelpro.com/)

  <a href='http://sequelpro.com/'>
    <figure>
      <img src='/images/im-sequelpro.jpg' title='Sequel Pro home page.' />
      <figcaption>
        <strong>Above:</strong>
        The Sequel Pro home page.
      </figcaption>
    </figure>
  </a>

  If you're getting into Wordpress, you'll likely start look at databases. Wordpress is built to use MySQL, a relational database that is very common. There are various interfaces to deal with the data from MySQL, and the most common one, PHPMyAdmin, is probably one of the most amazingly terrible user experiences available. Fortunately, you can use the native application Sequel Pro on Mac. It makes managing MySQL databases incredibly easy, and it's a powerful free tool. If anyone knows of an alternative for Windows, do tweet me and I'll share it!

  #### Sublime Text 2
  ##### [sublimetext.com/2](http://sublimetext.com/2/)

  <a href='http://sublimetext.com/2/'>
    <figure>
      <img src='/images/im-sublimetext2.jpg' title='Sublime Text 2 home page.' />
      <figcaption>
        <strong>Above:</strong>
        The Sublime Text 2 home page.
      </figcaption>
    </figure>
  </a>

  When you do start hacking, you'll need a text editor. Sublime Text 2 is a delight, and you'll see if the live coding portion of this star studded event goes to plan. It's flexible, free to use (though I encourage you to pay to register) and super simple. It has a host of plugins available, too. And nice colour schemes. If you're feeling more adventurous, you can google Vi, or Vim. It's a steep learning curve, but it is an incredibly powerful method of text editing. Notepad++ is what I've used previously for Windows, and it's also swell.

  #### iTerm 2
  ##### [iterm2.com](http://iterm2.com/)

  <a href='http://iterm2.com/'>
    <figure>
      <img src='/images/im-iterm2.jpg' title='iTerm 2 home page.' />
      <figcaption>
        <strong>Above:</strong>
        The iTerm 2 home page.
      </figcaption>
    </figure>
  </a>

  Embrace the terminal. Command line is a very powerful way of getting things done, and if you stick with it your productivity is sure to jump in leaps and bounds. There are a load of tutorials on using the command line effectively, and I encourage you to check in with out friend Google. iTerm2 is a powerful command line tool, but you can also use Terminal on the Mac or the command line on Windows too.

  #### Anvil
  ##### [anvilformac.com](http://anvilformac.com/)

  <a href='http://anvilformac.com/'>
    <figure>
      <img src='/images/im-anvil.jpg' title='Anvil home page.' />
      <figcaption>
        <strong>Above:</strong>
        The Anvil home page.
      </figcaption>
    </figure>
  </a>

  If you're not keen on PHP, and you're more interested in static sites, Anvil might be the alternative you're looking for. Recently released for OSX, it allows you to put apps and sites in your Sites directory, and it'll just append .dev to them, allowing you to straight away visit them in a browser, without that pesky file:///

  It also runs Ruby rack apps, which is great/

  #### Sinatra
  ##### [sinatrarb.com](http://sinatrarb.com/)

  <a href='http://sinatrarb.com/'>
    <figure>
      <img src='/images/im-sinatra.jpg' title='Sinatra home page.' />
      <figcaption>
        <strong>Above:</strong>
        The Sinatra home page.
      </figcaption>
    </figure>
  </a>

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a sollicitudin magna. Sed ut dolor nunc. Integer mi quam, condimentum sit amet laoreet sed, eleifend eu lorem. Cras ipsum sapien, bibendum nec suscipit sit amet, luctus sit amet enim. Phasellus interdum quam eu est sodales sed tempor lorem rutrum.

  #### Homebrew
  ##### [mxcl.github.com/homebrew](http://mxcl.github.com/homebrew/)

  <a href="http://mxcl.github.com/homebrew/">
    <figure>
      <img src='/images/im-homebrew.jpg' title='Homebrew home page.' />
      <figcaption>
        <strong>Above:</strong>
        The Homebrew home page.
      </figcaption>
    </figure>
  </a>

  Homebrew is a command line tool for OSX that allows you to install all the things that Apple didn't. There are a bunch of command line applications you can get, and they'll make your development life much easier. I highly encourage installing it.

  #### Heroku Toolbelt
  ##### [toolbelt.heroku.com](http://toolbelt.heroku.com/)

  <a href="http://toolbelt.heroku.com/">
    <figure>
      <img src='/images/im-heroku.jpg' title='Heroku Toolbelt home page.' />
      <figcaption>
        <strong>Above:</strong>
        The Heroku Toolbelt home page.
      </figcaption>
    </figure>
  </a>

  Homebrew is a command line tool for OSX that allows you to install all the things that Apple didn't. There are a bunch of command line applications you can get, and they'll make your development life much easier. I highly encourage installing it.
