:markdown

  ## <span class="ss-icon">like</span> Hello friends
  ### Introduction

  **With a title that looks as though it was plucked directly from a heavily discounted self help guide, you may be wondering who this is aimed at.** Essentially, me. It's a big list of things I wish someone had told me when I was starting out as a designer. But all are welcome, and hopefully you'll get something out of it regardless.

  In my opening remarks, I mentioned [a to do list written by a seven year old.](http://www.flickr.com/photos/rog2bark/3437630552/ "'kid to do list, list, Be happy and go home' on Flickr")

  <figure>
    <img src='/images/im-todolist.jpg' title='A to-do list by a seven year old.' />
    <figcaption>
      <strong>Above:</strong>
      A to-do list by a seven year old.
    </figcaption>
  </figure>

  **It's probably my favourite to do list ever**, because the end goal is simply to be happy and go home. I opened the talk with it because that, to me, is what web design and development should be about - doing something you love. So if at any point while trying out these new toys, tricks, gadgets and gizmos you feel frustrated or annoyed, just walk away for a bit. Get some fresh air. **Hug a puppy.** It'll help.

  Such a great to do list. Seven year olds are pretty much the best.

  [I am Charlie Gleason](http://charliegleason.com/ "Charlie Gleason"). I love design, development, photography, beer, riding a bicycle and rock climbing. I used to live in London, and I almost lived in Perth, but I grew up in Melbourne. I've been a lead developer and technical lead at a big traditional ad agency, and a senior designer at another, and now I'm a designer / developer at [Goodfilms](http://goodfil.ms), which is a rad social film site. I spend the rest of my time freelancing, listening to vinyls and playing in a band called [Brightly](http://wearebrightly.com/).

  **Also, I'm on twitter at [@superhighfives](http://twitter.com/superhighfives/ "@superhighfives"), if you're so inclined.**