:markdown

  ## <span class="ss-icon">clapboard</span> A Minor Digression
  ### Chapter 7

  Basic complementary color theory states that when two contrasting colors are put together, they "pop," so the natural technique is to color films to have a strong, contrasting palette.

  The one thing you will almost always have in a film is people. Human skin runs from pale pinkish yellow to dark brown, all of which are shades of orange. The color that contrasts best with orange is blue.

  <a href='http://theabyssgazes.blogspot.com.au/2010/03/teal-and-orange-hollywood-please-stop.html'>
    <figure>
      <img src='/images/im-theavengers.jpg' title='The Avengers poster, which is very blue and very orange.' />
      <figcaption>
        <strong>Above:</strong>
        The Avengers poster, which is very blue and very orange.
      </figcaption>
    </figure>
  </a>

  **See what I mean?** [Into The Abyss](http://theabyssgazes.blogspot.com.au/2010/03/teal-and-orange-hollywood-please-stop.html) has a brilliant article on it, showing a bunch of examples and references.

  Also, sorry for ruining movies for you for the rest of time.