:markdown

  ## <span class="ss-icon">laptop</span> Setting up an environment
  ### Chapter 6

  A description of the importance of setting up a good environment. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a sollicitudin magna. Sed ut dolor nunc. Integer mi quam, condimentum sit amet laoreet sed, eleifend eu lorem. Cras ipsum sapien, bibendum nec suscipit sit amet, luctus sit amet enim. Phasellus interdum quam eu est sodales sed tempor lorem rutrum.

  #### HTML5 Boilerplate
  ##### [html5boilerplate.com](http://html5boilerplate.com)

  <figure>
    <img src='/images/im-html5boilerplate.jpg' title='HTML5 Boilerplater home page.' />
    <figcaption>
      <strong>Above:</strong>
      The HTML5 Boilerplater home page.
    </figcaption>
  </figure>

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a sollicitudin magna. Sed ut dolor nunc. Integer mi quam, condimentum sit amet laoreet sed, eleifend eu lorem. Cras ipsum sapien, bibendum nec suscipit sit amet, luctus sit amet enim. Phasellus interdum quam eu est sodales sed tempor lorem rutrum.

  #### Transmit
  ##### [panic.com/transmit](http://panic.com/transmit/)

  <figure>
    <img src='/images/im-transmit.jpg' title='Panic Transmit home page.' />
    <figcaption>
      <strong>Above:</strong>
      The Panic Transmit home page.
    </figcaption>
  </figure>

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a sollicitudin magna. Sed ut dolor nunc. Integer mi quam, condimentum sit amet laoreet sed, eleifend eu lorem. Cras ipsum sapien, bibendum nec suscipit sit amet, luctus sit amet enim. Phasellus interdum quam eu est sodales sed tempor lorem rutrum.

  #### MAMP
  ##### [mamp.info](http://mamp.info/)

  <figure>
    <img src='/images/im-mamp.jpg' title='MAMP home page.' />
    <figcaption>
      <strong>Above:</strong>
      The MAMP home page.
    </figcaption>
  </figure>

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a sollicitudin magna. Sed ut dolor nunc. Integer mi quam, condimentum sit amet laoreet sed, eleifend eu lorem. Cras ipsum sapien, bibendum nec suscipit sit amet, luctus sit amet enim. Phasellus interdum quam eu est sodales sed tempor lorem rutrum.

  #### Sequel Pro
  ##### [sequelpro.com](http://sequelpro.com/)

  <figure>
    <img src='/images/im-sequelpro.jpg' title='Sequel Pro home page.' />
    <figcaption>
      <strong>Above:</strong>
      The Sequel Pro home page.
    </figcaption>
  </figure>

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a sollicitudin magna. Sed ut dolor nunc. Integer mi quam, condimentum sit amet laoreet sed, eleifend eu lorem. Cras ipsum sapien, bibendum nec suscipit sit amet, luctus sit amet enim. Phasellus interdum quam eu est sodales sed tempor lorem rutrum.

  #### Sublime Text 2
  ##### [sublimetext.com/2](http://sublimetext.com/2/)

  <figure>
    <img src='/images/im-sublimetext2.jpg' title='Sublime Text 2 home page.' />
    <figcaption>
      <strong>Above:</strong>
      The Sublime Text 2 home page.
    </figcaption>
  </figure>

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a sollicitudin magna. Sed ut dolor nunc. Integer mi quam, condimentum sit amet laoreet sed, eleifend eu lorem. Cras ipsum sapien, bibendum nec suscipit sit amet, luctus sit amet enim. Phasellus interdum quam eu est sodales sed tempor lorem rutrum.

  #### iTerm 2
  ##### [iterm2.com](http://iterm2.com/)

  <figure>
    <img src='/images/im-iterm2.jpg' title='iTerm 2 home page.' />
    <figcaption>
      <strong>Above:</strong>
      The iTerm 2 home page.
    </figcaption>
  </figure>

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a sollicitudin magna. Sed ut dolor nunc. Integer mi quam, condimentum sit amet laoreet sed, eleifend eu lorem. Cras ipsum sapien, bibendum nec suscipit sit amet, luctus sit amet enim. Phasellus interdum quam eu est sodales sed tempor lorem rutrum.

  #### Anvil
  ##### [anvilformac.com](http://anvilformac.com/)

  <figure>
    <img src='/images/im-anvil.jpg' title='Anvil home page.' />
    <figcaption>
      <strong>Above:</strong>
      The Anvil home page.
    </figcaption>
  </figure>

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a sollicitudin magna. Sed ut dolor nunc. Integer mi quam, condimentum sit amet laoreet sed, eleifend eu lorem. Cras ipsum sapien, bibendum nec suscipit sit amet, luctus sit amet enim. Phasellus interdum quam eu est sodales sed tempor lorem rutrum.

  #### Sinatra
  ##### [sinatrarb.com](http://sinatrarb.com/)

  <figure>
    <img src='/images/im-sinatra.jpg' title='Sinatra home page.' />
    <figcaption>
      <strong>Above:</strong>
      The Sinatra home page.
    </figcaption>
  </figure>

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a sollicitudin magna. Sed ut dolor nunc. Integer mi quam, condimentum sit amet laoreet sed, eleifend eu lorem. Cras ipsum sapien, bibendum nec suscipit sit amet, luctus sit amet enim. Phasellus interdum quam eu est sodales sed tempor lorem rutrum.

  #### Homebrew
  ##### [mxcl.github.com/homebrew](http://mxcl.github.com/homebrew/)

  <figure>
    <img src='/images/im-homebrew.jpg' title='Homebrew home page.' />
    <figcaption>
      <strong>Above:</strong>
      The Homebrew home page.
    </figcaption>
  </figure>

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a sollicitudin magna. Sed ut dolor nunc. Integer mi quam, condimentum sit amet laoreet sed, eleifend eu lorem. Cras ipsum sapien, bibendum nec suscipit sit amet, luctus sit amet enim. Phasellus interdum quam eu est sodales sed tempor lorem rutrum.