:markdown

  ## <span class="ss-icon">flask</span> Okay, Now What?
  ### Chapter 4

  So, now you've decided what you want to learn, and who to ignore, where to next? Let's run through some rad services for learning to code like a champ.

  #### <span class="ss-icon">computer</span> The INTERNET!

  Incredibly, one of the best places to learn about making the internet is on the internet.

  #### Codecademy
  ##### [codecademy.com](http://codecademy.com/)

  <a href='http://codecademy.com/'>
    <figure>
      <img src='/images/im-codecademy.jpg' title="Codecademy home page." />
      <figcaption>
        <strong>Above:</strong>
        The Codecademy home page.
      </figcaption>
    </figure>
  </a>

  For example, [Codecademy](http://codecademy.com/) offers delicious bite sized pieces of education that help you learn the fundamentals of a bunch of different languages, all while making something awesome.

  #### Code Year
  ##### [codeyear.com](http://codeyear.com/)

  <a href='http://codeyear.com/'>
    <figure>
      <img src='/images/im-codeyear.jpg' title="Code Year home page." />
      <figcaption>
        <strong>Above:</strong>
        The Code Year home page.
      </figcaption>
    </figure>
  </a>

  And [Code Year](http://codeyear.com/), by the same people, is a whirlwind tour of using HTML, CSS and Javascript to build websites. Perfect. They also do jQuery, which is a super popular way of making sites interactive really easily, and Python, which is a wild language for building the brains behind an application. Everyone wins.

  #### Coursera
  ##### [coursera.org](http://coursera.org/)

  <a href='http://coursera.org/'>
    <figure>
      <img src='/images/im-coursera.jpg' title="Coursera home page." />
      <figcaption>
        <strong>Above:</strong>
        The Coursera home page.
      </figcaption>
    </figure>
  </a>

  [Coursera](http://coursera.org/), though oddly hosted on GoDaddy (let's not bother linking to the least fashionable web host around), has some incredible free computer science courses for anyone who wants to skip straight to studying compilers.

  I actually studied their compilers course. Got [The Dragon Book](http://en.wikipedia.org/wiki/Compilers:_Principles,_Techniques,_and_Tools "The Dragon Book on Wikipedia") and everything. It was really, really hard.

  #### Github
  ##### [github.com](http://github.com/)

  <a href='http://github.com/'>
    <figure>
      <img src='/images/im-github.jpg' title="Github home page." />
      <figcaption>
        <strong>Above:</strong>
        The Github home page.
      </figcaption>
    </figure>
  </a>

  Alternatively, [Github](http://github.com/) has about a thousand open source projects. You can find loads of pre-built websites to rip apart. Sometimes the best way to learn is to break something, so I encourage you to do just that.

  **And there are so, so many more websites. The list goes on:**

  #### Smashing Magazine
  ##### [smashingmagazine.com](http://smashingmagazine.com/)

  <a href='http://smashingmagazine.com/'>
    <figure>
      <img src='/images/im-smashingmagazine.jpg' title="Smashing Magazine home page." />
      <figcaption>
        <strong>Above:</strong>
        The Smashing Magazine home page.
      </figcaption>
    </figure>
  </a>

  #### A List Apart
  ##### [alistapart.com](http://alistapart.com/)

  <a href='http://alistapart.com/'>
    <figure>
      <img src='/images/im-alistapart.jpg' title="A List Apart home page." />
      <figcaption>
        <strong>Above:</strong>
        A List Apart's home page.
      </figcaption>
    </figure>
  </a>

  #### Envato's Million Blogs
  ##### [envato.com](http://envato.com/)

  <a href='http://envato.com/'>
    <figure>
      <img src='/images/im-envato.jpg' title="Envato's Million Blogs." />
      <figcaption>
        <strong>Above:</strong>
        Envato's Million Blogs. (May be an exaggeration.)
      </figcaption>
    </figure>
  </a>

  So many websites that this is probably **0.0000001%** of the total count of interesting blogs, sites and applications for being a more awesome web developer. But it's a start.

  #### <span class="ss-icon">computer</span> The Books!

  There are literally an endless array of books. You can probably ask your developer friends for a spare copy of [Hard Boiled Webdesign](http://hardboiledwebdesign.com/). It's like the Jagged Little Pill of front end development. Everyone has it. Is Andy Clarke currently living on an island drinking cocktails out of coconuts? I'm guessing the answer to that is yes.

  #### Hardboiled Web Design
  ##### [hardboiledwebdesign.com](http://hardboiledwebdesign.com/)

  <a href='http://hardboiledwebdesign.com/'>
    <figure>
      <img src='/images/im-hardboiled.jpg' title="Hardboiled Web Design, by Andy Clarke" />
      <figcaption>
        <strong>Above:</strong>
        Hardboiled Web Design, by Andy Clarke.
      </figcaption>
    </figure>
  </a>

  Just search ["Web Development" in Book Depository](http://www.bookdepository.com/search?searchTerm=web+development&search=search "Web Development search on Book Depository."). You'll be golden.


  #### <span class="ss-icon">ellipsischat</span> The Meetups and Co-Working Spaces and Podcasts!

  Let’s talk about social opportunities! **Meetups** are a great way to get to know new people, and there are loads and loads of them. Gone are the days of developers dressed in black t-shirts and tracksuits pants, hiding in their parents basement. Developers are upwardly mobile, well-dressed hipsters, hacking on Ruby for fun. Or maybe that’s just me. Regardless, they like to party.

  **Co-working spaces** are also a great way to meet people and form potential colloborations.

  Finally, **podcasts** are a really easy way to stay up to date without having to use your eyes. I’m going to focus on Melbourne and Sydney, so I apologise, out-of-town friends!

  #### <span class="ss-icon">beer</span> All of the JS meetups!

  #### MelbJS
  ##### [melbjs.com](http://melbjs.com/)

  <a href='http://melbjs.com/'>
    <figure>
      <img src='/images/im-melbjs.jpg' title="MelbJS logo." />
      <figcaption>
        <strong>Above:</strong>
        The MelbJS logo.
      </figcaption>
    </figure>
  </a>

  There is the [MelbJS]((http://melbjs.com/) meetup, which is about listening to really interesting speakers and enjoying free beer!

  #### SydJS
  ##### [sydjs.com](http://sydjs.com/)

  <a href='http://sydjs.com/'>
    <figure>
      <img src='/images/im-sydjs.jpg' title="SydJS logo." />
      <figcaption>
        <strong>Above:</strong>
        The SydJS logo.
      </figcaption>
    </figure>
  </a>

  There is the [SydJS]((http://sydjs.com/) meetup, which is about listening to really interesting speakers and enjoying free beer!

  #### BeerJS
  ##### [beerjs.com](http://beerjs.com/)

  <a href='http://beerjs.com/'>
    <figure>
      <img src='/images/im-beerjs.jpg' title="BeerJS logo." />
      <figcaption>
        <strong>Above:</strong>
        The BeerJS logo.
      </figcaption>
    </figure>
  </a>

  And there is the [BeerJS](http://beerjs.com/) meet up, a worldwide phenomenom, which is actually just about having free beers and meeting people. It's the best.

  #### <span class="ss-icon">chats</span> The Co-Working Spaces!

  One of the best ways to get involved in a community is to start living in that community. There are a number of sweet co-working spaces around Melbourne and Sydney. There are a bunch of great nerds to hang out with and ask questions.

  #### The Workben.ch
  ##### [theworkben.ch](http://theworkben.ch/)

  <a href='http://theworkben.ch/'>
    <figure>
      <img src='/images/im-workbench.jpg' title="The Workben.ch logo." />
      <figcaption>
        <strong>Above:</strong>
        The The Workben.ch logo.
      </figcaption>
    </figure>
  </a>

  For Sydneysiders, the new startup, [The Workben.ch](http://theworkben.ch/), based in Ultimo. I believe Lachlan Hardy is a part of it (he’s really, really nice), so there is likely to be whiskey and duck involved. In that order.

  #### Inspire9
  ##### [inspire9.com.au](http://inspire9.com.au/)

  <a href='http://inspire9.com.au/'>
    <figure>
      <img src='/images/im-inspire9.jpg' title="Inspire9 logo." />
      <figcaption>
        <strong>Above:</strong>
        The Inspire9 logo.
      </figcaption>
    </figure>
  </a>

  [Inspire 9](http://inspire9.com.au/) are based in Richmond, Melbourne, and super friendly. They also regularly host [RORO](http://ruby.org.au/), a Ruby meetup.

  #### York Butter Factory
  ##### [yorkbutterfactory.com](http://yorkbutterfactory.com/)

  <a href='http://yorkbutterfactory.com/'>
    <figure>
      <img src='/images/im-yorkbutterfactory.jpg' title="York Butter Factory logo." />
      <figcaption>
        <strong>Above:</strong>
        The York Butter Factory logo.
      </figcaption>
    </figure>
  </a>

  And [York Butter Factory](http://yorkbutterfactory.com/) York Butter Factory in Melbourne host a bunch of events, and rent out space. They also make me hungry. Go figure.

  #### <span class="ss-icon">audio</span> The Podcasts!

  As a part of living the community you can start introducing little bits of it into your life. Podcasts are a great way to keep abreast of what everyone is talking about without having to leave the house.

  #### 5by5
  ##### [5by5.tv](http://5by5.tv/)

  <a href='http://5by5.tv/'>
    <figure>
      <img src='/images/im-5by5.jpg' title="5by5 logo." />
      <figcaption>
        <strong>Above:</strong>
        The 5by5 logo.
      </figcaption>
    </figure>
  </a>

  [5by5](http://5by5.tv/) do a bunch of great podcasts on a couple of million topics, and [Dan Benjamin](http://benjamin.org/dan/ "Internet famous people!") must be sharing that island with Andy Clarke. They're like rock royalty. Amazing.