:markdown

  ## <span class="ss-icon">books</span> Learning How To Learn
  ### Chapter 2

  The question is not whether you should learn to code, but more importantly, whether you have something to build. If you do, that's awesome! Let us plow ahead into the choppy seas of cross browser compatibility and ever changing specification documents that constitute a pretty massive part of my day. If you don't, think of something! Make a website for your band, or your gardener, or you best friend. I once made a website for a cafe I liked, called [Limoncello Is The Best Cafe](http://limoncelloisthebestcafe.com).

  <a href='http://limoncelloisthebestcafe.com'>
    <figure>
      <img src='/images/im-limoncello.gif' title='Limoncello Is The Best Cafe. Dot com.' />
      <figcaption>
        <strong>Above:</strong>
        Limoncello Is The Best Cafe. Dot com.
      </figcaption>
    </figure>
  </a>

  #### <span class="ss-icon">lightning</span> Embrace your ideas

  Think about the things you use, the things you love, and the things that frustrate you. Prototype things in your head. Your tram never comes on time. How can the internet help you to make that less annoying? The best design and development is about making things easier.

  Sometimes, when I am reclining in my tasteful [Ikea Poäng chair ($189.00, birch veneer, alme black, absurdly comfortable)](http://www.ikea.com/au/en/catalog/categories/series/07472/) I think of something that would be awesome to build, and write it down.

  #### 5 / 10 times it is a terrible idea

  Which is why I still own [decafdoesnotsuck.com](http://decafdoesnotsuck.com).

  #### 4 / 10 times someone stole it already

  Or it is a good idea, but someone has already built it and they are too busy making hats out of money to [respond to me on Twitter](http://twitter.com/superhighfives/).

  #### 1 / 10 times the domain name is taken

  Or you won't be able to find a good domain name, because they're all taken. Every single one. These are the trials of our times.

  #### <span class="ss-icon">exclamationchat</span> However, that's awesome!

  Don't let that get you down - it's like automated refinement. It just means you're working up towards something incredibly rad.

  The point is, [building something](#skip-to-chapter-8) is the best way to learn how to build something. And if you build it, they might come. And if they don't, at least you learnt something.

  As an example of mashing together an idea and a desire to try something new, I built [The 98 Against](http://the98against.com). 

  <a href='http://the98against.com'>
    <figure>
      <img src='/images/im-the98against.jpg' title='The 98 Against site.' />
      <figcaption>
        <strong>Above:</strong>
        The 98 Against site.
      </figcaption>
    </figure>
  </a>

  I built it in response to the 98 parliamentary members who voted against marriage equality in the lower house. I was feeling frustrated, and I wanted to make a list that I could refer to later, with names, photos and contact details. I used [Nokogiri](http://nokogiri.org/), a Ruby library for parsing sites. Then I used it to write a script to spider the parliamentary website and grab all the required details, and dump it into a CSV. I put that into a database and voila, armchair activism!

  > "'It's better to be safe than sorry' is such crap. You know what's better than being safe? Being awesome."
  > ### Jeff Atwood (Co-founder of Stack Overflow and Stack Exchange)