:markdown

  ## <span class="ss-icon">heart</span> We need you
  ### Chapter 9

  So, web development is awesome. However, of fourty odd people enrolling on my first day of Computer Science, I counted three girls. Three. That’s not awesome. The web needs more female developers. So I implore you, lady designers, dip a toe in the pool of web development. The water is warm. **And please don’t let things like this stop you.**

  <a href="http://theweek.com/article/index/227356/brogramming-the-disturbing-rise-of-frat-culture-in-silicon-valley">
    <figure>
      <img src='/images/im-brogramming.jpg' title='Friends don\tt let friends make brogramming jokes.' />
      <figcaption>
        <strong>Above:</strong>
        Say no to brogramming
      </figcaption>
    </figure>
  </a>

  This is just no.

  The propagation of lame movements like **brogramming**, in my mind, only serve to remind us how important it is to create working environments that are open, inclusive and welcoming. **brogramming, like sexism and homophobia and all those dumb things, is super uncool.**

  So, again, I encourage designers to get involved with web development. **Embrace the code!** Start building more fantastic things. Like I said, it will make the cogs of the universe turn a little more joyously.