:markdown

  ## <span class="ss-icon">heart</span> How To Keep Friends
  ### Chapter 5

  So, you start building something and it breaks. That will happen. You will be annoyed. It will not make sense. Internet Explorer 7 can seriously go die. All is, however, not lost.

  Here we come to **Charlie's 6 things to remember:**

  #### 1. Walk away.

  Goodfilms, the start up I work at, has an indoor swing. Whenever we get angry, or frustrated, or a start crying, we can walk away from our desks and have a swing. I encourage you to try being angry on a swing. It's like the fat free equivalent of eating a tub of ice cream. It is distilled childhood joy. It is the literally the best. And before you know it, everything will be clarified by the space you've given your aching brain.

  Alternatively, if you don't have an indoor swing because you work for a company that isn't as enthusiastic about play equipment within an office environment (and who can blame them?) try working on something else for a bit. Or have a coffee. Or eat a hamburger. Or walk around the block. Or google lolcats.

  #### 2. Google it.

  <figure>
    <img src='/images/im-google.jpg' title='Google home page.' />
    <figcaption>
      <strong>Above:</strong>
      The Google homepage. Which probably doesn't need an image.
    </figcaption>
  </figure>

  90% of questions have already been asked and answered. It's a comforting statistic, especially given that I only just made it up. You can find a host of information using your trusty search engine, likely with a bunch of people going through the pain and frustration you are currently going through.

  #### 3. Ask a friend.

  So you don't find anything online. Ho hum! If you started attending some meet ups you might have gotten someone's Twitter handle. Why not take this opportunity to ask them?

  [Your new friend](http://twitter.com/superhighfives/) will most likely tell you to [Google](http://google.com/) it. Thanks for nothing, new friend. But they have a point - there are places you can ask for exactly this kind of advice, in an environment for likeminded people. So maybe avoid asking a friend, unless you know it's a topic they're particularly passionate about. Like me and the any musical ever. And that includes Chicago and the High School Musicals. I do not discriminate.

  #### 4. Ask Stack Overflow

  <figure>
    <img src='/images/im-stackoverflow.jpg' title='stackoverflow.com home page.' />
    <figcaption>
      <strong>Above:</strong>
      The Stack Overflow homepage.
    </figcaption>
  </figure>

  [Stack Overflow](http://stackoverflow.com/) is a wild way to get help. It's basically a big Q&A on making the internet, where people are rewarded for asking good questions and giving good answers. It's gamification of being a rad human, and I've had some pretty obscure and not-so obscure questions answered in record time. From Backbone.js incorrectly managing models when the ID of the item is returned as an object, to the best way to build a one page site, to errors I was getting when mashing a bunch of different JavaScript libraries together with Require.js. The last one was answered by the dude who wrote one of them. I felt like his best friend. My point being, almost everything has been asked. It’s a great resource.

  One of the things about asking questions is asking the right ones. With great power comes great responsibility and all that. For example, just saying "OH HAI THIS WEBPAGE IS BROKEN WHY?" is probably the quickest way to get nowhere. Ask sensible, detailed questions with code examples so people can recreate the issue you're having, and loads of people will do their best to help. It's like communism but without any of the awkwardness of having to share back!

  #### 5. Find a mentor.

  There are lots of people who are experts in very specific areas of web development, and I've yet to find one who couldn't be swayed by cake. So that is always a good fallback.

  #### 6. IRC.

  IRC, which stands for Internet Relay Chat, is a realtime chat messaging service. There are rooms on almost every topic, from Ruby to JavaScript to jQuery. It's kind of a hunting ground for super nerds though, and every time I've ever asked a (in my mind) reasonable, well considered question on IRC I was either:

  * Mocked
  * Flamed
  * Ignored

  So maybe leave IRC off the list? Unless it works for you. In which case, good for you, and please don't mock, flame or ignore me after this talk for not flying the IRC flag. I have cripplingly low self esteem, and you seem pretty angry.