:markdown

  ## <span class="ss-icon">like</span> Epilogue
  ### Conclusion

  **In conclusion, thank you.**

  Again, [I am Charlie Gleason](http://charliegleason.com/ "Charlie Gleason"). If you made it to my talk, thank you for coming. If you have any questions, I am [@superhighfives](http://twitter.com/superhighfives/ "@superhighfives"). If you'd like to make corrections or changes to this site, it's up on [Github](http://github.com/superhighfives/wds12 "WDS12 on Github") so make a pull request and I'll add it in. As long as it isn't my face with funny eyebrows drawn on it.