:markdown

  Hello. You've probably just seen my talk at [Web Directions South 2012.](http://south12.webdirections.org/) If not, that's cool. Perhaps someone tweeted it? Or you're my Mum (Hey Mum!) and I asked you to check it out?

  It was called **You Are A Developer, The Internet Is Your Friend**. To give you an idea of what it was about, this is the blurb:

  <aside>
    <p><strong>The internet is getting really, really big and developing it means knowing more than ever before.</strong> Do not fear: from programming languages to social networks, application frameworks to responsive design, the ever growing bucket of buzzwords that threaten our collective sanity are far less troublesome than they initially appear.</p>

    <p>So how do designers take the plunge? What are the tricks that everyone seems to know but no one seems to tell you? And do developers really work in text editors?</p>

    <p>As a designer turned developer, quasi-nerd turned internet ninja, and now buzzword aficionado, Charlie Gleason will tell you the secrets to how he learnt to stop worrying and love the code. With helpful tricks, tips, and a tragic overuse of puns, he wants you to be as amped about the web as he is.</p>
  </aside>

  Below are a series of notes, links, references and general ephemera for anyone who is enthusiastic about such things. **Let's venture on, shall we?**