:markdown

  ## <span class="ss-icon">list</span> A list of chapters
  ### Table of contents

  - [Hello friends <span class="chapter">Introduction</span>](#skip-to-introduction)
  - [My Name Is... <span class="chapter">Chapter 1</span>](#skip-to-chapter-1)
  - [Learning How To Learn <span class="chapter">Chapter 2</span>](#skip-to-chapter-2)
  - [So, What Do I Need To Know? <span class="chapter">Chapter 3</span>](#skip-to-chapter-3)
  - [Okay, Now What? <span class="chapter">Chapter 4</span>](#skip-to-chapter-4)
  - [How To Keep Friends And Be Happy <span class="chapter">Chapter 5</span>](#skip-to-chapter-5)
  - [Setting Up An Environment <span class="chapter">Chapter 6</span>](#skip-to-chapter-6)
  - [A Minor Digression <span class="chapter">Chapter 7</span>](#skip-to-chapter-7)
  - [Making Something Awesome <span class="chapter">Chapter 8</span>](#skip-to-chapter-8)
  - [We Need You <span class="chapter">Chapter 9</span>](#skip-to-chapter-9)
  - [Four Things To Remember <span class="chapter">Chapter 10</span>](#skip-to-chapter-10)
  - [Epilogue <span class="chapter">Conclusion</span>](#skip-to-epilogue)