:markdown
  **The internet is getting really, really big and developing it means knowing more than ever before.** Do not fear: from programming languages to social networks, application frameworks to responsive design, the ever growing bucket of buzzwords that threaten our collective sanity are far less troublesome than they initially appear.

  So how do designers take the plunge? What are the tricks that everyone seems to know but no one seems to tell you? And do developers really work in text editors?

  As a designer turned developer, quasi-nerd turned internet ninja, and now buzzword aficionado, Charlie Gleason will tell you the secrets to how he learnt to stop worrying and love the code. With helpful tricks, tips, and a tragic overuse of puns, he wants you to be as amped about the web as he is.

  ## <span class="ss-icon">like</span> Hello friends
  ### Chapter 1

  **With a title that looks as though it was plucked directly from a heavily discounted self help guide, you may be wondering who this talk is aimed at.** Essentially, me. It's a big list of things I wish someone had told me when I was starting out as a designer. But all are welcome, and I'm sure you'll get something out of it regardless.

  I should mention, that to do list is by a seven year old. Seven year olds are pretty much the best.

  [I am Charlie Gleason](http://charliegleason.com/ "Charlie Gleason"). I love design, development, photography, beer, riding a bicycle, rock climbing and people yelling "hipster" when they drive past me late at night. I used to live in London, and I almost lived in Perth, but I grew up in Melbourne. I've been a lead developer and technical lead at a big traditional ad agency, and a senior designer at another, and now I'm a designer / developer at Goodfilms, which is a rad social film site. You should totally check it out. I spend the rest of my time freelancing, listening to vinyls and playing in a band called Brightly. I'm on twitter at [@superhighfives](http://twitter.com/superhighfives/ "@superhighfives"), if you're so inclined.

  > "It's better to be safe than sorry" is such crap. You know what's better than being safe? Being awesome."
  > ### Jeff Atwood (Co-founder of Stack Overflow and Stack Exchange)

  Some more copy.

  ## <span class="ss-icon">heart</span> Something Else
  ### Chapter 2

  **With a title that looks as though it was plucked directly from a heavily discounted self help guide, you may be wondering who this talk is aimed at.** Essentially, me. It's a big list of things I wish someone had told me when I was starting out as a designer. But all are welcome, and I'm sure you'll get something out of it regardless.

  I should mention, that to do list is by a seven year old. Seven year olds are pretty much the best.

  > "If we have data, let’s look at data. If all we have are opinions, let’s go with mine."
  > ### Jim Barksdale, Former CEO of Netscape

  ## <span class="ss-icon">frame</span> Another Chapter
  ### Chapter 3

  **With a title that looks as though it was plucked directly from a heavily discounted self help guide, you may be wondering who this talk is aimed at.** Essentially, me. It's a big list of things I wish someone had told me when I was starting out as a designer. But all are welcome, and I'm sure you'll get something out of it regardless.
  
  > "Mostly, I think it's the fear that gets us, in all its forms. Fear of not achieving. Fear of not keeping up. Fear of looking dumb. Fear of being inadequate. Fear of being exposed. Fear of failure. The only thing preventing us from being awesome is our own fear of sucking."
  > ### Jeff Atwood, Co-founder of Stack Overflow and Stack Exchange

  I should mention, that to do list is by a seven year old. Seven year olds are pretty much the best.
