!!!  
%html  
  %head  
    %title= @title
    %meta{:name => "description", :content => "A collection of notes and references from Charlie Gleason's 2012 Web Directions talk, '#{@title}.'"}
    %meta{:name => "author", :content => "Charlie Gleason"}
    %link{:href => "/images/favicon.ico", :rel => "shortcut icon"}
    %link{:href => "/images/apple-touch-icon.png", :rel => "apple-touch-icon"}

    %meta{:content => "#{@title}", :property => "og:title"}
    %meta{:content => "website", :property => "og:type"}
    %meta{:content => "A series of notes, links, references and general ephemera from Charlie Gleason's talk at Web Directions South in October 2012.", :property => "og:description"}
    %meta{:content => "http://wds12.charliegleason.com/", :property => "og:url"}
    %meta{:content => "http://wds12.charliegleason.com/images/apple-touch-icon.png", :property => "og:image"}
    %meta{:content => "#{@title}", :property => "og:site_name"}
    %meta{:content => "500678127", :property => "fb:admins"}

    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/js/rainbow/themes/twilight.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/stylesheets/application.css", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"}
  %body  
    .header
      .wrapper
        %h1
          %span.top
            You are a 
            %em developer,
          %span.bottom
            the Internet is your 
            %em friend.
    
    .content
      .wrapper

        .credit
          %a.charlie{href: 'http://charliegleason.com/', title: 'Charlie Gleason getting eaten really slowly by a tree.'} Charlie Gleason
          %p
            with your friend
            %strong Charlie Gleason

        =yield

    %a.top{href: '#skip-to-toc'}
      %span.ss-icon navigateup
        
    %script{:src => "http://s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"}
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"}
    %script{:src => "/js/ss-symbolicons.js"}
    %script{:src => "/js/rainbow/rainbow.min.js"}
    %script{:src => "/js/rainbow/language/shell.js"}

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-XXXXXX-X']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
